@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --primary-color: #6366f1;
  --color-for-text: #6b7280;
}

body {
  margin: 0px;
  position: relative;
  overflow: auto;
  padding: 0;
}

.navigation {
  background-color: var(--primary-color);
  padding: 0.8rem;
  color: white;
  text-align: center;
  font-size: 1.7em;
  font-family: "Roboto", sans-serif;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  margin: 0px;
  width: 100%;
}

.footer {
  background-color: #6366f1;
  padding: 2rem 1rem;
  text-align: center;
  color: white;
  font-family: "Roboto", sans-serif;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  bottom: -40px;
  position: relative;
  width: 100%;
  display: block;
  margin: 0;
}

.footer-header {
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

.section {
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.margin {
  margin: 0.5rem;
  width: 40%;
  padding: 0.5rem;
  font-family: "Roboto", sans-serif;
}

#buttonCalculate {
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin: 1.5rem;
  font-family: "Roboto", sans-serif;
}

.result {
  text-align: center;
  text-weight: bold;
  text-size: large;
  font-family: "Roboto", sans-serif;
}

.output {
  text-align: center;
  width: 100%;
  font-family: "Roboto", sans-serif;
  padding: 0rem 1rem;
  max-width: 600px;
  margin: auto;
}

header {
  text-align: center;
  color: var(--color-for-text);
}

.hero-image {
  width: 350px;
  margin: auto;
  padding: 1.5rem;
}
